.headerContainer {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.headerContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: #111111;
}

.headerContainer * {
  text-transform: uppercase;
  font-size: 14px;
}

.headerLogos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.headerRiotLink {
  display: block;
  width: 90px;
}

.headerValorantLink {
  display: block;
  width: 35px;
}

.headerRiotLink img,
.headerValorantLink img {
  width: 100%;
}

.headerLinks {
  display: flex;
}

.menuHamburguerButton {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 18px;
  border-color: transparent;
  background-color: #272727;
  cursor: pointer;
}

.menuHamburguerBar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #e8e8e8;
}

.menuHamburguerBar::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #e8e8e8;
  transform: translateY(-7px);
}

.menuHamburguerBar::before {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #e8e8e8;
  transform: translateY(5px);
}

.headerLinksContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 50;
  width: 100vw;
  max-width: 500px;
  min-height: 100dvh;
  position: fixed; 
  padding: 1rem 1.5rem;
  right: 0;
  top: 0;
  background-color: #1f1f1f;
  overflow-y: auto;
  box-shadow: -10px 0 30px rgba(0, 0, 0, 0.5); 
}

.menuHeaderTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menuHeaderTop img {
  width: 35px;
}

.closeButton {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 18px;
  border-color: transparent;
  background-color: #272727;
  cursor: pointer;
}

.searchInput {
  width: 100%;
  height: 40px;
  background-color: #272727;
  border-radius: 1rem;
}

.headerList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.headerList li {
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.headerList li:hover {
  background-color: #272727;
}

.headerList li a {
  display: block;
  width: 100%;
  height: 48px;
  padding: 12px 1rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.5px;
}

.headerList li:hover a {
  color: #ff4655;
}

.headerButton {
  width: 100%;
  height: 40px;
  background-color: #ff4655;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  font-family: "Valorant", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 32px;
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  .headerContent {
    padding: 1.5rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .headerContent {
    justify-content: flex-start;
  }

  .headerRiotLink {
    width: 80px;
  }

  .menuHamburguer {
    display: none;
  }

  .headerLinksContainer {
    width: auto;
    height: auto;
    max-width: none;
    min-height: auto;
    display: flex;
    align-items: center;
    position: static;
    background-color: transparent;
    overflow: hidden;
  }

  .menuHeaderTop {
    display: none;
  }

  .headerList {
    flex-direction: row;
  }

  .headerList li {
    width: auto;
    height: 100%;
  }

  .headerList li a {
    width: auto;
  }

  .headerButton {
    width: 140px;
    height: 32px;
    background: linear-gradient(to right, #ff3a45, #ff7562);
  }
}
