.content {
  background-color: #0f1923;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Valorant", sans-serif;
  color: #ece8e1;
}

.pageTitle {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.gridList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.gridItem {
  width: 100%;
  cursor: pointer;
  outline: none;
}

.gridItem[data-selected="true"] .card {
  border-color: #ff4655;
}

.gridItem[data-focused="true"] .card {
  box-shadow: 0 0 0 3px rgba(255, 70, 85, 0.5);
}

.card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #19222D;
  border-radius: 4px;
}

.imageContainer {
  width: 100%;
  height: 345px;
  overflow: hidden; 
  position: relative;
}

.agentImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(2.5);
  transform-origin: center 17%;
  transition: .3s;
}

.card:hover .agentImage {
  transform: scale(3);
}

.agentName {
  width: 100%;
  display: block;
  padding: 1rem 0 1rem 1rem;
  font-size: 18px;
  font-weight: 900;
  background-color: #ece8e1;
  color: #0e1823;
  text-transform: uppercase;
}

@media screen and (min-width: 500px) {
  .gridList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .gridList {
    grid-template-columns: repeat(4, 1fr);
  }
}
