.footerTextLink {
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  transition: 0.3s;
}

.footerTextLink:hover {
  background-color: #494848;
  cursor: pointer;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #000;
  padding-bottom: 3rem;
}

.footerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.5rem;
  background-color: #292929;
  text-align: center;
}

.footerInfoContainer {
  max-width: 690px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
}

.footerLinksList {
  display: flex;
  gap: 1rem;
}

.footerLinksList li {
  width: 32px;
  height: 32px;
  background-color: #272727;
  border-radius: 8px;
}

.footerLinksList li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.footerLinksList li a svg {
  font-size: 16px;
}

.footerLogo {
  width: 90px;
  margin-top: 1.5rem;
}

.copyText {
  font-size: 13px;
  color: #737373;
  text-align: center;
  font-weight: 700;
  line-height: 1.3rem;
}

.footerContractsList {
  display: flex;
  gap: 1rem;
}

.footerIndicativeRatingLink {
  padding: .8rem;
  background-color: #292929;
  border-radius: 8px;
}